/* ===========================
   Tools/Helpers
   =========================== */
/* 
 * Box (Left-Right)
 */
.box-left {
  float: left;
}
.box-right {
  float: right;
}

/* 
 * height Full
 */
.height-full {
  height: 100%;
}

/* 
 * Video Responsive
 */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * Element center
 */
.elem-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* =Layout
------------------- */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul-list-inline li {
  display: inline-block;
  vertical-align: middle;
}
.lt-ie8 .ul-list-inline li {
  display: inline;
  zoom: 1;
}

/* =Fonts
------------------- */
@media (min-width: 768px) {
  .container {
    max-width: 750px !important;
    width: inherit !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px !important;
    width: inherit !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px !important;
    width: inherit !important;
  }
}
html {
  background-color: #efefef;
}

/* Style General Page */
.page_title {
  font-size: 30px;
  margin: 0 0 20px;
}
.page_icon {
  font-size: 28px;
  margin-right: 5px;
}
.page_paragraph {
  font-size: 16px;
  margin: 0 0 10px;
}

/* header */
.header {
  background-color: #363b3f;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.header_link {
  color: #999;
  display: block;
  float: left;
  padding: 10px;
}
.header_link:hover {
  color: #f2f2f2;
  text-decoration: none;
}
.header_nav {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.header_nav li {
  border-right: 1px solid #454a4e;
  float: left;
}
.header .logo {
  color: #999;
  display: block;
  float: left;
  font-size: 16px;
  margin: 0;
  padding: 10px;
}
.header .logo a {
  color: #999;
}
.header .logo a:hover {
  color: #f2f2f2;
  text-decoration: none;
}

/* NAV MAIN */
.navigation {
  background-color: #363b3f;
  box-shadow: 4px 0px 3px -3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  float: left;
  left: -250px;
  height: 100%;
  margin-top: 40px;
  position: fixed;
  transition: all 0.3s ease-in-out 0s;
  width: 250px;
  top: 0;
  z-index: 2;
  padding: 20px 30px;
}
.navigation .menu-user {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation .menu-user_item {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}
.navigation .menu-user_link {
  color: #fff;
}
.navigation .menu-user_icon {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.navigation .menu-user_text {
  display: inline-block;
  vertical-align: middle;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu_item {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.menu_link {
  color: #fff;
}
.menu_title {
  display: block;
  font-weight: 300;
  color: #505458;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.menu_user-name {
  color: #505458;
}
.menu_icon {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.menu_text {
  display: inline-block;
  vertical-align: middle;
}

/* MAIN CONTENT */
.l-main-content {
  height: 100%;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  padding-top: 40px;
  top: 0;
}

.main-content {
  padding: 15px;
}

.l-toolbar {
  background-color: #363b3f;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.toolbar {
  overflow: hidden;
}
.toolbar_item {
  float: left;
  margin-right: 10px;
}
.toolbar_item:last-child {
  margin-right: 0;
}
.toolbar_icon {
  font-size: 40px;
}

.toggle-menu {
  display: block;
  overflow: hidden;
  position: relative;
  width: 35px;
}
.toggle-menu-left {
  float: left;
}
.toggle-menu-right {
  float: right;
}
.toggle-menu_btn {
  display: block;
  overflow: hidden;
  padding: 13px 10px;
  position: relative;
  width: 35px;
  z-index: 4;
}
.toggle-menu_btn span {
  background-color: #999;
  display: block;
  height: 3px;
  margin: 0 0 2px;
  width: 15px;
}
.toggle-menu_btn span:last-child {
  margin: 0;
}
.toggle-menu label {
  margin-bottom: 0;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.check-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
}
.check-nav:checked ~ #nav-main {
  left: 0 !important;
}
.check-nav:checked ~ #main-content {
  left: 250px !important;
}

.selection {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.selection_item {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}
.selection_link {
  background-color: #f4f4f4;
  display: block;
  overflow: hidden;
  position: relative;
  height: 260px;
  width: 200px;
}
.selection_link:hover .selection_overlay {
  opacity: 1;
}
.selection_img {
  height: auto;
  width: 100%;
}
.selection_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: opacity 0.5s ease-in-out 0s;
}
.selection_icon-overlay {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 30px;
}
h3{
  line-height: 1!important;
}

.edit-tool{
  line-height: 1!important;
}

.edit-tool_select select{
  background: none!important;
  border: none!important
}