/*!
 * Bootstrap Colorpicker
 * http://mjolnic.github.io/bootstrap-colorpicker/
 *
 * Originally written by (c) 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0.txt
 *
 */
.colorpicker-saturation {
  float: left;
  width: 100px;
  height: 100px;
  cursor: crosshair;
  background-image: url("bootstrap-colorpicker/saturation.png"); }

.colorpicker-saturation i {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  margin: -4px 0 0 -4px;
  border: 1px solid #000;
  border-radius: 5px; }

.colorpicker-saturation i b {
  display: block;
  width: 5px;
  height: 5px;
  border: 1px solid #fff;
  border-radius: 5px; }

.colorpicker-hue,
.colorpicker-alpha {
  float: left;
  width: 15px;
  height: 100px;
  margin-bottom: 4px;
  margin-left: 4px;
  cursor: row-resize; }

.colorpicker-hue i,
.colorpicker-alpha i {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  background: #000;
  border-top: 1px solid #fff; }

.colorpicker-hue {
  background-image: url("bootstrap-colorpicker/hue.png"); }

.colorpicker-alpha {
  display: none;
  background-image: url("bootstrap-colorpicker/alpha.png"); }

.colorpicker-saturation,
.colorpicker-hue,
.colorpicker-alpha {
  background-size: contain; }

.colorpicker {
  top: 0;
  left: 0;
  z-index: 2500;
  min-width: 130px;
  padding: 4px;
  margin-top: 1px;
  border-radius: 4px;
  *zoom: 1; }

.colorpicker:before,
.colorpicker:after {
  display: table;
  line-height: 0;
  content: ""; }

.colorpicker:after {
  clear: both; }

.colorpicker:before {
  position: absolute;
  top: -7px;
  left: 6px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: ''; }

.colorpicker:after {
  position: absolute;
  top: -6px;
  left: 7px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: ''; }

.colorpicker div {
  position: relative; }

.colorpicker.colorpicker-with-alpha {
  min-width: 140px; }

.colorpicker.colorpicker-with-alpha .colorpicker-alpha {
  display: block; }

.colorpicker-color {
  height: 10px;
  margin-top: 5px;
  clear: both;
  background-image: url("bootstrap-colorpicker/alpha.png");
  background-position: 0 100%; }

.colorpicker-color div {
  height: 10px; }

.colorpicker-element .input-group-addon i,
.colorpicker-element .add-on i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  cursor: pointer; }

.colorpicker.colorpicker-inline {
  position: relative;
  z-index: auto;
  display: inline-block;
  float: none; }

.colorpicker.colorpicker-horizontal {
  width: 110px;
  height: auto;
  min-width: 110px; }

.colorpicker.colorpicker-horizontal .colorpicker-saturation {
  margin-bottom: 4px; }

.colorpicker.colorpicker-horizontal .colorpicker-color {
  width: 100px; }

.colorpicker.colorpicker-horizontal .colorpicker-hue,
.colorpicker.colorpicker-horizontal .colorpicker-alpha {
  float: left;
  width: 100px;
  height: 15px;
  margin-bottom: 4px;
  margin-left: 0;
  cursor: col-resize; }

.colorpicker.colorpicker-horizontal .colorpicker-hue i,
.colorpicker.colorpicker-horizontal .colorpicker-alpha i {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 15px;
  margin-top: 0;
  background: #ffffff;
  border: none; }

.colorpicker.colorpicker-horizontal .colorpicker-hue {
  background-image: url("bootstrap-colorpicker/hue-horizontal.png"); }

.colorpicker.colorpicker-horizontal .colorpicker-alpha {
  background-image: url("bootstrap-colorpicker/alpha-horizontal.png"); }

.colorpicker.colorpicker-hidden {
  display: none; }

.colorpicker.colorpicker-visible {
  display: block; }

.colorpicker-inline.colorpicker-visible {
  display: inline-block; }

.colorpicker-right:before {
  right: 6px;
  left: auto; }

.colorpicker-right:after {
  right: 7px;
  left: auto; }

/* editTool */
.edit-tool {
  position: absolute;
  bottom: 100%;
  left: 0;
  -webkit-transition: all .5s;
          transition: all .5s;
  z-index: 1000; }
  .edit-tool.right {
    left: inherit;
    right: 0; }
  .edit-tool_colorpicker .edit-tool_input {
    display: none; }
  .edit-tool_box {
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.9); }
    .lt-ie8 .edit-tool_box {
      zoom: 1; }
    .edit-tool_box:before, .edit-tool_box:after {
      content: "";
      display: table; }
    .edit-tool_box:after {
      clear: both; }
  .edit-tool_item {
    border-left: 1px solid #303D4A;
    float: left;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .edit-tool_item:first-child {
      border-left: 0; }
      .edit-tool_item:first-child > .edit-tool_btn {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
    .edit-tool_item:last-child .edit-tool_btn {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden; }
    .edit-tool_item:hover .edit-tool_sub {
      box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.9);
      display: block; }
  .edit-tool_sub {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 99%; }
    .edit-tool_sub .edit-tool_item {
      float: none; }
    .edit-tool_sub .edit-tool_btn {
      width: 100%; }
    .edit-tool_sub-countdown {
      display: block; }
  .edit-tool_btn {
    background-color: rgba(20, 27, 35, 0.95);
    border: 0;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 12px;
    float: left;
    outline: none;
    padding: 8px;
    border-right: 0; }
    .edit-tool_btn:hover {
      background-color: #303d49;
      color: #ffffff; }
    .edit-tool_btn .btn-icon:before {
      display: block; }
    .edit-tool_btn-bgc, .edit-tool_btn-color {
      border: 6px solid #141B23; }
  .edit-tool_input {
    border: 0px solid #415261;
    background-color: rgba(20, 27, 35, 0.95);
    color: #ffffff;
    font-size: 12px;
    height: 28px;
    padding: 5px;
    outline: none; }
    .edit-tool_input-fz {
      background: rgba(20, 27, 35, 0.95) url("arrows.png") 80% center no-repeat;
      background-size: 7px;
      text-align: center;
      width: 45px; }
  .edit-tool_label {
    background-color: rgba(20, 27, 35, 0.95);
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    padding: 3px 10px;
    width: 100%; }
  .edit-tool_checkbox {
    margin: 5px !important; }
  .edit-tool_select {
    border: 0px solid #415261;
    color: #fff;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    padding: 5px 8px;
    background-color: rgba(20, 27, 35, 0.95);
    position: relative; }
    .edit-tool_select:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4.5px 0 4.5px;
      border-color: #ffffff transparent transparent transparent;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -2px;
      z-index: 7; }
    .edit-tool_select select {
      appearance: none;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      position: relative;
      width: 130%;
      z-index: 9; }
      .edit-tool_select select:focus {
        outline: none; }

.gen-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden; }
  .gen-video embed,
  .gen-video iframe,
  .gen-video object,
  .gen-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute; }
  .gen-video.widescreen {
    padding-bottom: 56.34%; }
  .gen-video.vimeo {
    padding-top: 0; }

.editable.bgpage, .editable.section {
  -webkit-transition: box-shadow 0.3s ease-in-out 0s;
          transition: box-shadow 0.3s ease-in-out 0s; }
  .editable.bgpage:hover, .editable.section:hover {
    box-shadow: inset 0px 0px 0px 1px #03ddff; }
  .editable.bgpage > .edit-tool, .editable.section > .edit-tool {
    bottom: inherit;
    opacity: 0;
    top: 5px;
    left: 5px; }
    .editable.bgpage > .edit-tool.right, .editable.section > .edit-tool.right {
      left: inherit;
      right: 5px; }
  .editable.bgpage:hover > .edit-tool, .editable.section:hover > .edit-tool {
    opacity: 1; }

.el-movable {
  position: relative; }
  .el-movable:hover {
    box-shadow: 0px 0px 0px 1px #03ddff; }
  .el-movable > .edit-tool {
    bottom: inherit;
    opacity: 0;
    top: 5px;
    left: 5px; }
    .el-movable > .edit-tool .handle {
      background-color: transparent;
      color: #141b23;
      padding: 5px; }
      .el-movable > .edit-tool .handle:hover {
        color: #141b23; }
  .el-movable:hover > .edit-tool {
    opacity: 1; }

.handle {
  cursor: -webkit-grabbing;
  cursor: grabbing; }
  .handle:hover {
    cursor: -webkit-grab;
    cursor: grab; }
  .handle:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

.page-draggable {
  min-height: 500px;
  padding-bottom: 50px; }

.editable {
  position: relative;
  -webkit-transition: box-shadow 0.3s ease-in-out 0s;
          transition: box-shadow 0.3s ease-in-out 0s; }
  .editable:hover {
    box-shadow: 0px 0px 0px 1px #03ddff;
    z-index: 11; }
  .editable.video:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999; }
  .editable.img {
    z-index: 99; }

.field-video {
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
          transition: all .3s; }

.edit-fields .input-group .input-group-addon {
  background: #363b3f;
  border-color: #454a4e;
  color: #999; }
.edit-fields .input-group input {
  background-color: #363b3f;
  border-color: #454a4e;
  color: #999; }

.element-selected {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.main {
  position: relative; }

#overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .5s;
          transition: all .5s; }

/* .colpick_hex{
	z-index: 200;
} */

/*# sourceMappingURL=edit.css.map */