/* ===========================
   Tools/Helpers
   =========================== */
/* 
 * Box (Left-Right)
 */
.box-left {
  float: left; }
.box-right {
  float: right; }

/* 
 * height Full
 */
.height-full {
  height: 100%; }

/* 
 * Video Responsive
 */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * Element center
 */
.elem-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* =Layout
------------------- */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ul-list-inline li {
    display: inline-block;
    vertical-align: middle; }
    .lt-ie8 .ul-list-inline li {
      display: inline;
      zoom: 1; }

/* =Fonts
------------------- */
html,
body {
  height: 100%; }

ol,
ul {
  margin: 0;
  padding: 0; }

.container {
  max-width: 960px !important; }

.bg-page {
  background-color: #a9dbdf;
  background-image: url("../images/templates/05/bg.jpg");
  background-position: center top;
  background-size: cover;
  height: 100%;
  overflow-y: scroll; }

.page {
  margin-top: 100px; }

.title-lines {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  color: #16949f;
  letter-spacing: 1px;
  line-height: 31px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase; }
  .title-lines.dark span {
    color: #fff; }
  .title-lines span {
    padding: 0 10px;
    position: relative;
    z-index: 3; }

.t-header {
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 71px; }
  .t-header h2 {
    color: #374958;
    text-align: center;
    font-size: 18px;
    line-height: 25px; }
  .t-header .logo {
    display: table;
    margin: 0;
    text-align: center;
    max-width: 200px;
    min-height: 71px;
    vertical-align: middle; }
    .t-header .logo a {
      display: table-cell;
      vertical-align: middle; }
    .t-header .logo img {
      height: auto;
      max-width: 100%; }

.l-hero {
  background-image: url("../images/templates/05/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .l-hero_content {
    display: table; }
  .l-hero_left {
    display: table-cell;
    vertical-align: top;
    width: 55%; }
  .l-hero_right {
    background-color: #374958;
    display: table-cell;
    vertical-align: top; }
  .l-hero h2 {
    color: #232d34;
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    line-height: 55px;
    margin: 0 0 32px; }
  .l-hero .btn-hero {
    background-color: #ffffff;
    border-radius: 6px 6px 6px 6px;
    color: #232d34;
    display: block;
    font-size: 16px;
    height: 44px;
    width: 469px;
    margin: 0 0 50px;
    padding: 10px 15px; }

.form-main {
  background-color: #374958;
  padding: 50px 45px; }
  .form-main_title {
    color: #ffe374;
    text-align: center;
    font-size: 30px;
    line-height: 39px;
    margin: 0 0 15px; }
  .form-main p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 22px; }
  .form-main_body {
    margin-top: 20px;
    margin-bottom: 10px; }
  .form-main_cp {
    color: #869db1;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 17px; }
  .form-main_label {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 0; }
  .form-main_field {
    color: #ffffff;
    background-color: #4a5e6d;
    border-color: #9eb0bf;
    border: 1px solid #8095a8;
    padding: 10px;
    border-radius: 3px;
    margin: 8px 0 8px 0;
    font-size: 15px;
    line-height: 19px;
    width: 100%;
    height: 43px; }
  .form-main_btn {
    background-color: #f4870d;
    border: 0;
    color: #ffffff;
    font: bold 13px/100% Arial,Helvetica,sans-serif;
    margin: 0 0 15px;
    width: 100%;
    height: 65px;
    line-height: 26px;
    font-size: 21px; }

.window {
  background-image: url("../images/templates/05/browser.png");
  background-position: left top;
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  padding-top: 29px;
  margin: 0 0 50px; }

.steps {
  list-style-type: none; }
  .steps li {
    position: relative;
    padding-left: 67px; }
    .steps li .num {
      display: block;
      height: 47px;
      font-family: "Open Sans", sans-serif;
      font-size: 30px;
      font-weight: bold;
      line-height: 45px;
      text-align: center;
      width: 47px;
      position: absolute;
      top: 0;
      left: 0; }
      .steps li .num img {
        display: block;
        width: 100%; }
    .steps li .desc h3 {
      color: #232d34;
      font-size: 22px;
      line-height: 31px;
      margin: 0 0 5px; }
    .steps li .desc p {
      color: #232d34;
      font-size: 18px; }

.l-testimonials {
  background-color: #f1f4f5;
  padding: 50px 0px 20px; }

.testimonial {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 5px 5px 5px 5px; }
  .testimonial p {
    color: #808080;
    display: block;
    font-size: 20px;
    font-family: "Open Sans", sans-serif; }
  .testimonial_img {
    background-image: url("../images/templates/05/quotes.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    padding: 10px 0;
    width: 222px; }
    .testimonial_img img {
      height: auto;
      width: 72px; }
  .testimonial_name {
    color: #16abb9;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 20px; }

.companies {
  overflow: hidden; }
  .companies .companie {
    float: left; }

.l-product .title {
  color: #2e3e4b;
  font-size: 36px;
  line-height: 47px; }
.l-product p {
  color: #808080;
  font-size: 16px; }

.t-footer {
  background-image: none;
  background-color: #ffffff;
  border-color: #cddbdf;
  border-style: solid;
  width: auto;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  height: 80px;
  margin-top: 20px;
  padding: 30px 0; }
  .t-footer p {
    color: #b4bbc0;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    text-align: center; }

/*# sourceMappingURL=tmpl5.css.map */