/* ===========================
   Tools/Helpers
   =========================== */
/* 
 * Box (Left-Right)
 */
.box-left {
  float: left; }
.box-right {
  float: right; }

/* 
 * height Full
 */
.height-full {
  height: 100%; }

/* 
 * Video Responsive
 */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * Element center
 */
.elem-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* =Layout
------------------- */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ul-list-inline li {
    display: inline-block;
    vertical-align: middle; }
    .lt-ie8 .ul-list-inline li {
      display: inline;
      zoom: 1; }

/* =Fonts
------------------- */
.modal-custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal-custom_figure img {
    padding: 10px; }
  .modal-custom .form {
    margin: 0 auto; }
    .modal-custom .form.light input[type="text"],
    .modal-custom .form.light input[type="password"],
    .modal-custom .form.light input[type="email"] {
      border: 1px solid #777; }
    .modal-custom .form_field {
      display: block;
      width: 100%;
      padding: 10px 15px;
      margin: 15px 0 10px;
      font-family: inherit;
      font-size: inherit;
      font-weight: 100;
      font-size: 14px;
      color: #666;
      border: 0;
      border-radius: 3px;
      background-color: #fff;
      box-sizing: border-box; }

.close {
  position: relative;
  z-index: 1000; }

.t-header {
  padding-bottom: 15px;
  padding-top: 20px; }
  .t-header .contact {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #9aa3ae;
    margin-top: 13px; }
  .t-header .logo {
    margin: 0;
    max-width: 200px; }
    .t-header .logo img {
      height: auto;
      width: 100%; }

.btn-addcar {
  background: #ff780f;
  background-image: url("../images/templates/01/opacity.png");
  padding: 25px 0;
  border-color: #000000;
  border-width: 0px;
  border-radius: 0px;
  border-bottom: 5px solid #ff780f;
  font-size: 34px;
  color: #ffffff;
  cursor: pointer;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: -1px;
  min-width: 100%;
  margin: 10px 0 20px; }
  .btn-addcar:hover {
    color: #fff; }

.hero {
  background-color: #216aa4;
  padding-bottom: 30px;
  padding-top: 30px; }
  .hero_video {
    margin-bottom: 30px; }
  .hero_title {
    color: #fff;
    margin: 10px 0 30px;
    text-align: center; }

.block {
  padding: 20px 0; }
  .block.dark {
    background-color: #f0f0f0; }

.some {
  padding-top: 50px;
  padding-bottom: 35px; }
  .some_title {
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    color: #6b6b6b;
    text-align: center;
    line-height: 27px;
    margin-bottom: 20px; }
  .some p {
    font-size: 19px;
    color: #444; }

.payments_item {
  margin: 5px;
  display: inline-block;
  vertical-align: top; }

.testimonial {
  color: #383838;
  font-size: 14px;
  line-height: 1.4em;
  margin: 20px 0;
  padding-left: 90px;
  position: relative; }
  .testimonial .image {
    border: 1px solid #ccc;
    left: 0;
    margin: 10px;
    top: 0;
    position: absolute;
    width: 70px; }
    .testimonial .image img {
      height: auto;
      width: 100%; }
  .testimonial cite {
    display: block;
    margin-bottom: 15px; }
  .testimonial p {
    font-size: 17px;
    line-height: 24px;
    color: #777; }

.footer {
  border-top: 1px solid #e3e3e3;
  padding: 30px 0; }

/*# sourceMappingURL=tmpl1.css.map */