/* ===========================
   Tools/Helpers
   =========================== */
/* 
 * Box (Left-Right)
 */
.box-left {
  float: left; }
.box-right {
  float: right; }

/* 
 * height Full
 */
.height-full {
  height: 100%; }

/* 
 * Video Responsive
 */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * Element center
 */
.elem-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* =Layout
------------------- */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ul-list-inline li {
    display: inline-block;
    vertical-align: middle; }
    .lt-ie8 .ul-list-inline li {
      display: inline;
      zoom: 1; }

/* =Fonts
------------------- */
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.container {
  max-width: 960px !important; }

.close {
  position: relative;
  z-index: 1000; }

@media (min-width: 768px) {
  .modal-dialog {
    margin: 100px auto !important; } }
.t-header {
  background: #F9C40A;
  padding-bottom: 30px;
  padding-top: 40px; }

.logo {
  color: #303030;
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  color: #303030;
  letter-spacing: -1px; }
  .logo a {
    color: #303030; }

.hero {
  background: #171717;
  padding-bottom: 20px;
  padding-top: 20px; }
  .hero .title {
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
    color: #ecebe4;
    text-align: center; }
  .hero .mailto {
    color: #2e82bc;
    font-size: 38px;
    text-decoration: none; }
    .hero .mailto:hover {
      color: #005580; }

.form_field {
  display: block;
  width: 100%;
  padding: 10px 15px !important;
  margin: 15px 0 10px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 100;
  font-size: 14px;
  color: #666;
  border: 0;
  border-radius: 3px;
  background-color: #fff;
  box-sizing: border-box; }
.form .btn {
  width: 100%;
  padding: 14px 0;
  border-color: #d69300;
  border-width: 1px;
  border-radius: 6px;
  background: #ffcf0a;
  font-size: 18px;
  color: #504210;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: #ffff9e 0px 1px 0px; }
.form .privacy {
  color: #888;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  padding-top: 5px;
  opacity: 0.8;
  text-align: center; }
.form.light input[type="text"],
.form.light input[type="password"],
.form.light input[type="email"] {
  border: 1px solid #777; }

.testimonials {
  padding-bottom: 30px;
  padding-top: 40px; }

.testimonial {
  border-left: 0;
  padding: 0; }
  .testimonial_mssg {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    background-color: #fff;
    position: relative;
    display: block;
    margin: 0;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px; }
    .testimonial_mssg:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      margin: -1px 0 0 -15px;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff; }
    .testimonial_mssg:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      margin: 0 0 0 -15px;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #e6e6e6; }
    .testimonial_mssg p {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 17px;
      line-height: 24px;
      color: #777; }
  .testimonial_img {
    height: 82px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 82px; }
    .testimonial_img img {
      height: 100%;
      width: 100%; }
  .testimonial_name {
    display: block;
    font-style: normal; }
  .testimonial_company {
    color: #555;
    display: block;
    font-size: 14px; }

.weare .map {
  margin-bottom: 30px; }
.weare p {
  color: #444;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  line-height: 30px;
  text-align: justify; }
.weare .img-left {
  float: left; }
  .weare .img-left img {
    margin-right: 20px;
    margin-bottom: 20px; }
.weare .img-right {
  float: right; }
  .weare .img-right img {
    margin-left: 20px;
    margin-bottom: 20px; }

.services {
  padding: 30px 0; }

.service {
  padding: 10px 15px;
  text-align: center; }
  .service .fig {
    background-color: #F9C40A;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    border-radius: 100%;
    display: block;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    width: 100px; }
    .service .fig img {
      top: 25px;
      height: 50px;
      width: auto;
      position: relative; }
  .service h4 {
    color: #222;
    margin: 0 0 20px; }
  .service p {
    color: #444;
    margin: 0 0 10px; }

.callus {
  background-color: #171717;
  padding: 30px 0; }
  .callus .mailto {
    color: #2e82bc;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 38px; }
  .callus .telephone {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 48px;
    color: #ffffff; }

.title-lines {
  font-size: 46px;
  font-family: 'Just Another Hand', serif;
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 30px;
  position: relative;
  text-align: center; }
  .title-lines.dark span {
    background-color: #171717;
    color: #fff; }
  .title-lines span {
    padding: 0 10px;
    position: relative;
    z-index: 3; }

.footer {
  padding: 40px 0; }
  .footer nav ul {
    overflow: hidden; }
    .footer nav ul li {
      float: left;
      margin: 0;
      padding: 0 10px; }
      .footer nav ul li a {
        color: #666; }

.modal-custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal-custom_figure {
    padding: 10px; }
  .modal-custom .form {
    margin: 0 auto; }

/*# sourceMappingURL=tmpl3.css.map */