/* ===========================
   Tools/Helpers
   =========================== */
/* 
 * Box (Left-Right)
 */
.box-left {
  float: left; }
.box-right {
  float: right; }

/* 
 * height Full
 */
.height-full {
  height: 100%; }

/* 
 * Video Responsive
 */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * Element center
 */
.elem-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* =Layout
------------------- */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ul-list-inline li {
    display: inline-block;
    vertical-align: middle; }
    .lt-ie8 .ul-list-inline li {
      display: inline;
      zoom: 1; }

/* =Fonts
------------------- */
.modal-custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal-custom_figure img {
    padding: 10px; }
  .modal-custom .form {
    margin: 0 auto; }
    .modal-custom .form.light input[type="text"],
    .modal-custom .form.light input[type="password"],
    .modal-custom .form.light input[type="email"] {
      border: 1px solid #777; }
    .modal-custom .form_field {
      display: block;
      width: 100%;
      padding: 10px 15px;
      margin: 15px 0 10px;
      font-family: inherit;
      font-size: inherit;
      font-weight: 100;
      font-size: 14px;
      color: #666;
      border: 0;
      border-radius: 3px;
      background-color: #fff;
      box-sizing: border-box; }

html,
body {
  height: 100%; }

ol,
ul {
  margin: 0;
  padding: 0; }

.container {
  max-width: 960px !important; }

.close {
  position: relative;
  z-index: 1000; }

@media (min-width: 768px) {
  margin: 100px auto; }
.bg-page {
  background-color: #a9dbdf;
  background-image: url("../images/templates/05/bg.jpg");
  background-position: center top;
  background-size: cover;
  height: 100%;
  overflow-y: scroll; }

.page {
  margin-top: 100px; }

.btn-access {
  background: #ffb600;
  padding: 10px 10px;
  display: block;
  text-align: center;
  font-size: 24px;
  color: #715601;
  line-height: 40px;
  text-shadow: 1px 1px 1px #F8F8F8;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 71%;
  max-width: 100%;
  margin: 0 auto 10px; }

.t-header {
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 71px; }
  .t-header .logo {
    margin: 0;
    text-align: center;
    vertical-align: middle; }
    .t-header .logo img {
      height: auto;
      max-width: 100%; }

.l-hero {
  padding: 30px 0;
  text-align: center; }
  .l-hero .title {
    font-size: 32px;
    color: #f01701;
    font-weight: 700;
    line-height: 0.9375;
    margin-bottom: 3px;
    white-space: normal;
    text-align: center; }
  .l-hero p {
    font-size: 22px;
    color: #1E5096;
    line-height: 26px; }
  .l-hero .link-blue {
    color: #1d90e2;
    display: block; }
  .l-hero .link-gray {
    color: #5d5d5d;
    display: block; }

.l-some {
  background-color: #FBFAF8;
  border-top: 1px solid #e8e7e7;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04) inset; }
  .l-some .title {
    text-align: center;
    font-size: 40px;
    color: #205297;
    font-family: 'Source Sans Pro',sans-serif;
    line-height: 36px;
    font-weight: 600;
    white-space: pre-line; }
  .l-some .subtitle {
    font-size: 30px;
    color: #205297;
    font-style: italic;
    font-family: 'Source Sans Pro',sans-serif;
    display: block;
    white-space: pre-line;
    margin-bottom: 35px; }
  .l-some .box-child {
    background-color: #EEF1F5;
    padding: 20px 20px 10px;
    margin: 54px 0 25px 0; }
    .l-some .box-child_content h3 {
      text-align: center;
      font-style: normal;
      color: #22508F;
      font-size: 26px;
      line-height: 27px;
      font-weight: bold;
      margin: 0 0 18px;
      text-shadow: 2px 2px 2px #FFFFFF; }
    .l-some .box-child_content p {
      font-size: 18px;
      color: #303030;
      text-align: center;
      line-height: 22px;
      font-family: 'Source Sans Pro',sans-serif;
      font-weight: 600;
      text-shadow: 2px 2px 2px #FFFFFF;
      padding: 0px;
      margin: 0px;
      white-space: inherit; }
      .l-some .box-child_content p span {
        color: #d50220;
        display: block; }
  .l-some .guide {
    position: relative; }
    .l-some .guide_img {
      position: absolute;
      margin-top: -52px;
      left: 20px; }

.box {
  background-color: #fdfdfd;
  border: 3px solid #F2F2F2;
  clear: both;
  padding: 32px 30px;
  margin: 20px 0; }
  .box .content > .image {
    float: right;
    margin: 15px; }
  .box .content p {
    color: #505050;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Source Sans Pro',sans-serif;
    padding: 0 0 26px 0;
    margin: 0px; }

.t-footer {
  background-image: none;
  background-color: #FBFBF9;
  width: auto;
  height: 80px;
  padding: 30px 0; }
  .t-footer p {
    color: #b4bbc0;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    text-align: center; }

/*# sourceMappingURL=tmpl6.css.map */