/* ===========================
   Tools/Helpers
   =========================== */
/* 
 * Box (Left-Right)
 */
.box-left {
  float: left; }
.box-right {
  float: right; }

/* 
 * height Full
 */
.height-full {
  height: 100%; }

/* 
 * Video Responsive
 */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * Element center
 */
.elem-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* =Layout
------------------- */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ul-list-inline li {
    display: inline-block;
    vertical-align: middle; }
    .lt-ie8 .ul-list-inline li {
      display: inline;
      zoom: 1; }

/* =Fonts
------------------- */
.main-example {
  margin: 0 auto;
  width: 355px; }

.main-example .countdown-container {
  height: 130px; }

.countdown {
  font-size: 125%; }
  .countdown .time {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-align: center;
    position: relative;
    height: 95px;
    width: 65px;
    -webkit-perspective: 500px;
            perspective: 500px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .countdown .count {
    background: #202020;
    color: #f8f8f8;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.2em;
    line-height: 2.4em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transform-style: flat;
            transform-style: flat; }
    .countdown .count.top {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 5px 5px 0 0;
      height: 50%;
      -webkit-transform-origin: 50% 100%;
          -ms-transform-origin: 50% 100%;
              transform-origin: 50% 100%; }
    .countdown .count.bottom {
      background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), transparent);
      background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      border-radius: 0 0 5px 5px;
      line-height: 0;
      height: 50%;
      top: 50%;
      -webkit-transform-origin: 50% 0;
          -ms-transform-origin: 50% 0;
              transform-origin: 50% 0; }
  .countdown .label {
    font-size: normal;
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 95px;
    width: 100%; }

/* Animation start */
.countdown .count.curr.top {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  z-index: 3; }

.countdown .count.next.bottom {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  z-index: 2; }

/* Animation end */
.countdown .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg); }

.countdown .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
          transition: all 250ms ease-in-out 250ms;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

/* @media screen and (max-width: 48em) {
  .main-example {
    width: 100%;
  }
  .main-example .countdown-container {
    height: 100px;
  }
  .main-example .time {
      height: 70px;
      width: 48px;
  }
  .main-example .count {
    font-size: 1.5em;
    line-height: 70px;
  }
  .main-example .label {
    font-size: 0.8em;
    top: 72px;
  }
} */
.modal-custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal-custom_figure img {
    padding: 10px; }
  .modal-custom .form {
    margin: 0 auto; }
    .modal-custom .form.light input[type="text"],
    .modal-custom .form.light input[type="password"],
    .modal-custom .form.light input[type="email"] {
      border: 1px solid #777; }
    .modal-custom .form_field {
      display: block;
      width: 100%;
      padding: 10px 15px;
      margin: 15px 0 10px;
      font-family: inherit;
      font-size: inherit;
      font-weight: 100;
      font-size: 14px;
      color: #666;
      border: 0;
      border-radius: 3px;
      background-color: #fff;
      box-sizing: border-box; }

html,
body {
  height: 100%; }

.container {
  max-width: 630px !important; }

.close {
  position: relative;
  z-index: 1000; }

.bg-page {
  background-image: url("../images/templates/04/bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  overflow-y: scroll; }

.page {
  margin-top: 100px; }

.t-header {
  padding-bottom: 10px;
  padding-top: 10px; }
  .t-header h2 {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-weight: normal;
    color: #2D9ADF;
    font-size: 28px;
    line-height: 30px;
    margin: 25px 0;
    padding: 0;
    letter-spacing: -1.5px;
    text-align: center;
    display: block; }
  .t-header .logo {
    display: block;
    margin: 0;
    text-align: center; }
    .t-header .logo img {
      height: auto;
      max-width: 100%; }

.l-title {
  position: relative;
  background: #fff;
  border-radius: 10px 10px 0px 0px;
  padding: 24px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .l-title h2 {
    margin: 0 auto;
    padding: 0px 30px 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #39A0E1;
    text-align: center;
    font-weight: 600;
    letter-spacing: -.5px; }
  .l-title h3 {
    font-family: 'Open Sans',sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
    font-weight: 100\9;
    letter-spacing: -.5px;
    color: #777777;
    padding: 0px;
    margin: 0; }

.l-countdown {
  background-image: url("../images/templates/04/bg-contdown.png");
  background-repeat: repeat;
  background-color: #2792D6;
  padding: 20px 0px 20px 0px; }

.countdown {
  float: right;
  text-align: center;
  /* .item{
  	float: left;
  	margin-right: 14px;
  	.num{
  		background-image: url($urlImg + 'bg-time.png');
  		display: block;
  		width: 67px;
  		height: 69px;
  		font-family: $oswald;
  		font-weight: 400;
  		font-size: 2.1em;
  		color: #1f2225;
  		line-height: 70px;
  		position: relative;
  		text-shadow: 1px 1px 1px white;
  		text-align: center;
  		padding-right: 1px;
  		&:after{
  			content: '';
  			width: 100%;
  			height: 1px;
  			border-top: 2px solid #e0e0e0;
  			position: absolute;
  			top: 50%;
  			text-align: center;
  			left: 0px;
  		}	
  	}
  	.label{
  		display: block;
  		font-family: $oswald;
  		font-weight: 300;
  		color: #fff;
  		font-size: 11px;
  		text-align: center;
  		margin: 2px auto;
  		letter-spacing: 1px;
  		line-height: 17px;
  		text-transform: uppercase;
  	}
  } */ }
  .countdown .count {
    background-color: transparent;
    background-image: url("../images/templates/04/bg-time.png");
    color: #1f2225;
    line-height: 70px;
    text-shadow: none; }
    .countdown .count.bottom {
      background-image: url("../images/templates/04/bg-time.png");
      background-position: 0 bottom;
      border-bottom: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1); }
    .countdown .count.top {
      border-top: 0; }
  .countdown .time {
    box-shadow: none;
    margin-bottom: 25px;
    margin-right: 10px;
    height: 69px; }
  .countdown .label {
    font-family: "Oswald", sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    top: 68px; }
  .countdown_label {
    margin: 5px 0 0 5px;
    display: block;
    line-height: 22px;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align: left;
    float: left; }

.btn-alert {
  background-color: #fce446;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #a48700;
  display: block;
  font-family: arial;
  font-size: 26px;
  font-weight: bold;
  padding: 18px 20px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  overflow: hidden;
  min-height: 50px;
  vertical-align: middle; }
  .btn-alert:hover {
    color: #a48700;
    text-decoration: none; }

.t-footer {
  margin-top: 20px; }
  .t-footer p {
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    text-align: center; }

/*# sourceMappingURL=tmpl4.css.map */