/* ===========================
   Tools/Helpers
   =========================== */
/* 
 * Box (Left-Right)
 */
.box-left {
  float: left; }
.box-right {
  float: right; }

/* 
 * height Full
 */
.height-full {
  height: 100%; }

/* 
 * Video Responsive
 */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * Element center
 */
.elem-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* =Layout
------------------- */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ul-list-inline li {
    display: inline-block;
    vertical-align: middle; }
    .lt-ie8 .ul-list-inline li {
      display: inline;
      zoom: 1; }

/* =Fonts
------------------- */
.modal-custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal-custom_figure img {
    padding: 10px; }
  .modal-custom .form {
    margin: 0 auto; }
    .modal-custom .form.light input[type="text"],
    .modal-custom .form.light input[type="password"],
    .modal-custom .form.light input[type="email"] {
      border: 1px solid #777; }
    .modal-custom .form_field {
      display: block;
      width: 100%;
      padding: 10px 15px;
      margin: 15px 0 10px;
      font-family: inherit;
      font-size: inherit;
      font-weight: 100;
      font-size: 14px;
      color: #666;
      border: 0;
      border-radius: 3px;
      background-color: #fff;
      box-sizing: border-box; }

.close {
  position: relative;
  z-index: 1000; }

.t-header {
  background: #fff;
  padding-bottom: 10px;
  padding-top: 10px; }

.logo {
  max-width: 180px;
  margin: 0; }
  .logo img {
    height: auto;
    max-width: 100%; }

.hero {
  background-color: #216aa4;
  background-image: url(../images/templates/02/stock-2bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 70px; }
  .hero .title {
    color: #fff;
    font-size: 44px;
    text-align: center; }
  .hero .title-2 {
    color: #bababa;
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center; }
  .hero .button {
    background-color: #f69028;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 25px 75px;
    text-align: center;
    text-decoration: none; }
  .hero .paragraph {
    color: #bababa;
    font-size: 14px;
    margin-bottom: 30px; }
  .hero .arrow {
    display: inline-block;
    height: 48px;
    margin-bottom: 20px;
    width: 48px; }
    .hero .arrow img {
      height: auto;
      max-width: 100%; }

.customers {
  background-color: #f0f0f0;
  padding: 30px 0; }
  .customers .title {
    color: #a4acb6;
    font-size: 20px;
    margin-bottom: 30px; }
  .customers .customer {
    margin: 0 auto;
    width: 80%; }
    .customers .customer img {
      width: 100%; }

.rounds .item_figure {
  height: 250px;
  max-width: 250px;
  margin: 0 auto; }
  .rounds .item_figure img {
    border-radius: 50%;
    height: 100%;
    width: 100%; }
.rounds .item_title {
  font-size: 19px;
  font-weight: bold;
  color: #444c55;
  text-align: center;
  line-height: 24px; }
.rounds .item_paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #abadb0;
  text-align: center;
  line-height: 21px;
  margin-bottom: 20px; }
.rounds .item_btn {
  padding: 17px 19px;
  border-color: #000000;
  border-width: 0px;
  border-radius: 5px;
  background: #bababa;
  color: #fff;
  display: inline-block;
  text-decoration: none; }

.some_item {
  position: relative;
  padding-left: 90px;
  margin-bottom: 40px; }
.some_img {
  height: 80px;
  left: 0;
  position: absolute;
  padding: 0 10px;
  width: 80px; }
  .some_img img {
    max-height: 100%;
    width: 100%; }
.some_title {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  color: #4d4d4d; }
.some p {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  color: #ababab; }

.joinus {
  text-align: center;
  margin-bottom: 20px;
  background: #f0f0f0;
  padding: 24px;
  border-radius: 5px; }
  .joinus_title {
    text-align: left;
    font-weight: 400;
    font-size: 25px; }
  .joinus_desc {
    color: #888;
    font-weight: 300;
    padding-bottom: 5px;
    text-align: left;
    font-size: 16px; }
  .joinus_field {
    display: block;
    height: 50px;
    width: 100%;
    padding: 5px 10px !important;
    margin: 15px 0 10px;
    line-height: 50px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    color: #777;
    border: 1px solid #cacaca; }
  .joinus_btn {
    background-color: #f69028;
    border-radius: 6px;
    border: 0;
    color: #fff;
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%; }
  .joinus_link {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
    display: block; }

.block {
  padding: 20px 0; }
  .block.dark {
    background-color: #f0f0f0; }

.testimonials {
  background-color: #F0F0F0;
  padding: 50px 0; }
  .testimonials_title {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    color: #9aa3ae;
    text-align: center;
    line-height: 42px; }
  .testimonials .testimonial_mssg {
    line-height: inherit;
    line-height: 1.4em;
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    background-color: #fff;
    position: relative;
    display: block;
    margin: 0;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px; }
    .testimonials .testimonial_mssg:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      margin: -1px 0 0 -15px;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff; }
    .testimonials .testimonial_mssg p {
      color: #777;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px; }
  .testimonials .testimonial_img {
    border-radius: 100%;
    display: block;
    margin: 35px auto;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    position: relative;
    border: 1px solid #eee;
    line-height: 1.4em; }
    .testimonials .testimonial_img img {
      border-radius: 100%;
      height: 100%;
      width: 100%; }
  .testimonials .testimonial_name {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    display: block; }
  .testimonials .testimonial_company {
    display: block;
    margin-top: 0;
    color: inherit; }

.footer {
  background-color: #3d3838;
  border-top: 1px solid #e3e3e3;
  padding: 30px 0; }
  .footer p {
    color: #fff; }

/*# sourceMappingURL=tmpl2.css.map */