
	    <main id='main'>
    <link rel='stylesheet' href='/gentemplate/css/tmpl1.css'>
      <header class='t-header   section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
      
    
              <h1 class='logo'><a href='#'><img src='/gentemplate/images/templates/01/logo.png' alt='SIMPLE LOGO' class=' img'></a></h1>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
      
    
              <h4 class='contact  txt text-right'>Questions? support@yourdomain.com</h4>
            </div>
          </div>
        </div>
      </header>
      <section class='hero   section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h1 class='hero_title  txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h1>
              <div class='hero_video videoWrapper  video'>
                <iframe src='http://www.youtube.com/embed/n_dZNLr2cME?rel=0&amp;hd=1' frameborder='0' allowfullscreen='' width='560' height='349'></iframe>
              </div><a href='#' class='btn-addcar  btn count-view'>Click Aquí Para...</a>
            </div>
          </div>
        </div>
      </section>
      <section style='position: relative;' class='dark block   section'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'><img src='/gentemplate/images/templates/01/trust.png' alt='' class='img-responsive center-block  img'></div>
          </div>
        </div>
      </section>
      <section class='block   section some' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h4 class='some_title  txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
              <p class=' txt'>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.</p>
              <p class=' txt'>Donec sed odio dui. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
          </div>
        </div>
      </section>
      <section class='block dark   section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
      
    
              <blockquote class='testimonial testimonial-image-style-1'>
                <div class='image'><img alt='' src='/gentemplate/images/templates/01/danielle.jpg' class=' img'></div>
                <cite><strong class=' txt'>Sarah Jackson</strong>,<a href='#' target='_blank' class=' txt'>Company Inc.</a></cite>
                <p class=' txt'><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisl vitae enim vehicula egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pulvinar arcu aliquet, volutpat urna quis, accumsan turpis.</i></p>
              </blockquote>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
      
    
              <blockquote class='testimonial testimonial-image-style-1'>
                <div class='image'><img alt='' src='/gentemplate/images/templates/01/testimonial.jpg' class=' img'></div>
                <cite><strong class=' txt'>Sarah Jackson</strong>,<a href='#' target='_blank' class=' txt'>Company Inc.</a></cite>
                <p class=' txt'><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisl vitae enim vehicula egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pulvinar arcu aliquet, volutpat urna quis, accumsan turpis.</i></p>
              </blockquote>
            </div>
          </div>
        </div>
      </section>
      <section class='block   section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h3 class='text-center  txt'>Don't Delay, Purchase Now To Get [Benefit X]...</h3><a href='#' class='btn-addcar btn btn-primary btn-lg btn-block btn-warning  btn count-view'>Click Aquí Para...</a>
              <div class='text-center payments'>
                <div class='payments_item'><img src='/gentemplate/images/templates/01/paypal.png' alt='Paypal' width='51' class=' img'></div>
                <div class='payments_item'><img src='/gentemplate/images/templates/01/visa.png' alt='Visa' width='51' class=' img'></div>
                <div class='payments_item'><img src='/gentemplate/images/templates/01/mastercard.png' alt='MasterCard' width='51' class=' img'></div>
                <div class='payments_item'><img src='/gentemplate/images/templates/01/amex.png' alt='American Express' width='51' class=' img'></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class='footer   section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <p class=' txt'>Copyright 2015 - Mira Esto - All Rights Reserved</p>
            </div>
          </div>
        </div>
      </footer>
      <div id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' class='modal fade'>
        <div role='document' class='modal-dialog'>
          <div class='modal-content'>
            <div class='modal-header'>
              <button type='button' data-dismiss='modal' aria-label='Close' class='close'><span aria-hidden='true'>×</span></button>
              <h4 id='myModalLabel' class='modal-title  txt'>Llamanos o llena el formulario de abajo para programar una inspección gratis</h4>
            </div>
            <div class='modal-body'>
              <div class='modal-custom'>
                <div class='modal-custom_item'>
                  <figure class='modal-custom_figure'><img src='/gentemplate/images/download.png' alt='download' widht='100' class='img-responsive  img'></figure>
                </div>
                <div class='modal-custom_item'>
                  <div class='form light'>
                    <form id='' method='' action=''>
                      <div class='el-sortable'>
                        <div class='' style='position: relative;'> 
      
    
                          <input type='text' placeholder='Nombre' class='form_field'>
                        </div>
                        <div class='' style='position: relative;'> 
      
    
                          <input type='text' placeholder='Teléfono' class='form_field'>
                        </div>
                        <div class='' style='position: relative;'> 
      
    
                          <input type='text' placeholder='Correo Electrónico' class='form_field'>
                        </div>
                        <div class='' style='position: relative;'> 
      
    
                          <button type='button' style='font-size:17px; padding:15px 0; margin:10px 0 ' class='btn  btn btn-addcar'>Quiero Una Inspeccion Gratis</button>
                        </div>
                      </div>
                    </form>
                    <p class='privacy  txt'>Valoramos tu privacidad por lo que nunca compartiremos con nadie tu informacion</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
	