
	    <main id='main'>
      <link rel='stylesheet' href='/gentemplate/css/tmpl2.css'>
      <header class='t-header   section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h1 class='logo'><a href=''><img src='/gentemplate/images/templates/02/lifestyle-logo1.png' alt='Life Style' class=' img'></a></h1>
            </div>
          </div>
        </div>
      </header>
      <section class='hero   section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h1 class='title  txt'>Lorem ipsum dolor sit amet consectetur</h1>
              <h2 class='title-2  txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h2>
              <div class='text-center'><a href='#' class='button  btn count-view'>Click Here to Get Instant Access »</a>
                <p class='paragraph  txt'>*Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod</p><a href='#' class='arrow'><img src='/gentemplate/images/templates/02/arrow.png' alt='' class=' img'></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class='block  customers  section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <div class='text-center'>
                <h4 class='title  txt'>Excepteur sint occaecat cupidatat non proident sunt in</h4>
              </div>
            </div>
          </div>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1 ' style='position: relative;'> 
      
    
              <figure class='customer'><img src='/gentemplate/images/templates/02/airbnb.png' alt='' class=' img'></figure>
            </div>
            <div class='col-xs-12 col-sm-2 col-md-2 ' style='position: relative;'> 
      
    
              <figure class='customer'><img src='/gentemplate/images/templates/02/dribbble.png' alt='' class=' img'></figure>
            </div>
            <div class='col-xs-12 col-sm-2 col-md-2 ' style='position: relative;'> 
      
    
              <figure class='customer'><img src='/gentemplate/images/templates/02/evernote.png' alt='' class=' img'></figure>
            </div>
            <div class='col-xs-12 col-sm-2 col-md-2 ' style='position: relative;'> 
      
    
              <figure class='customer'><img src='/gentemplate/images/templates/02/heroku.png' alt='' class=' img'></figure>
            </div>
            <div class='col-xs-12 col-sm-2 col-md-2 ' style='position: relative;'> 
      
    
              <figure class='customer'><img src='/gentemplate/images/templates/02/taskrabbit.png' alt='' class=' img'></figure>
            </div>
          </div>
        </div>
      </section>
      <section class='block  rounds  section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-4 col-md-4 ' style='position: relative;'> 
      
    
              <div class='item'>
                <figure class='item_figure'><img src='/gentemplate/images/templates/02/stock-1.jpg' alt='' class=' img'></figure>
                <h4 class='item_title  txt'>Excepteur sint occaecat cupidatat</h4>
                <p class='item_paragraph  txt'>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est.</p>
                <div class='text-center'><a href='#' class='item_btn  btn'>More Information</a></div>
              </div>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-4 ' style='position: relative;'> 
      
    
              <div class='item'>
                <figure class='item_figure'><img src='/gentemplate/images/templates/02/stock-2.jpg' alt='' class=' img'></figure>
                <h4 class='item_title  txt'>Excepteur sint occaecat cupidatat</h4>
                <p class='item_paragraph  txt'>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est.</p>
                <div class='text-center'><a href='#' class='item_btn  btn count-view'>More Information</a></div>
              </div>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-4 ' style='position: relative;'> 
      
    
              <div class='item'>
                <figure class='item_figure'><img src='/gentemplate/images/templates/02/stock-3.jpg' alt='' class=' img'></figure>
                <h4 class='item_title  txt'>Excepteur sint occaecat cupidatat</h4>
                <p class='item_paragraph  txt'>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est.</p>
                <div class='text-center'><a href='#' class='item_btn  btn'>More Information</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class='block  some  section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-7 col-md-7  el-sortable' style='position: relative;'> 
      
    
              <div class='some_item ' style='position: relative;'> 
      
    
                <div class='some_img'><img alt='' src='/gentemplate/images/templates/02/line-icon11.png' class=' img'></div>
                <div class='some_desc'>
                  <h3 class='some_title  txt'>Duis aute irure dolor in reprehenderit</h3>
                  <p class=' txt'>Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                </div>
              </div>
              <div class='some_item ' style='position: relative;'> 
      
    
                <div class='some_img'><img alt='' src='/gentemplate/images/templates/02/line-icon21.png' class=' img'></div>
                <div class='some_desc'>
                  <h3 class='some_title  txt'>Duis aute irure dolor in reprehenderit</h3>
                  <p class=' txt'>Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                </div>
              </div>
              <div class='some_item ' style='position: relative;'> 
      
    
                <div class='some_img'><img alt='' src='/gentemplate/images/templates/02/line-icon31.png' class=' img'></div>
                <div class='some_desc'>
                  <h3 class='some_title  txt'>Duis aute irure dolor in reprehenderit</h3>
                  <p class=' txt'>Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                </div>
              </div>
            </div>
            <div class='col-xs-12 col-sm-5 col-md-5 ' style='position: relative;'> 
      
    
              <div class='joinus'>
                <h3 class='joinus_title  txt'>Join Us Now</h3>
                <p class='joinus_desc  txt'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nunc non lacus venenatis commodo.</p>
                <form id='' method='' action='' class='joinus_form'>
                  <input type='text' placeholder='Enter your email address' class='joinus_field'>
                  <button type='submit' class='joinus_btn  btn count-view'>Get Started Now</button><a href='#' class='joinus_link  txt'>Get Started Now</a>
                </form>
                <div class='text-center'>
                  <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class='block  testimonials  section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12 col-movable'>
              <h2 class='testimonials_title  txt'>Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
            </div>
          </div>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
      
    
              <div class='testimonial'>
                <div class='testimonial_mssg'>
                  <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisl vitae enim vehicula egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
                <div class='text-center'>
                  <div class='testimonial_img'><img src='/gentemplate/images/templates/01/danielle.jpg' alt='' class=' img'></div><strong class='testimonial_name  txt'>Sarah Jackson</strong><a href='#' class='testimonial_company  txt'>Company Inc.</a>
                </div>
              </div>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
      
    
              <div class='testimonial'>
                <div class='testimonial_mssg'>
                  <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisl vitae enim vehicula egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
                <div class='text-center'>
                  <div class='testimonial_img'><img src='/gentemplate/images/templates/01/testimonial.jpg' alt='' class=' img'></div><strong class='testimonial_name  txt'>Sarah Jackson</strong><a href='#' class='testimonial_company  txt'>Company Inc.</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class='footer   section' style='position: relative;'> 
      
      
    
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <p class=' txt'>Copyright 2015 - Mira Esto - All Rights Reserved</p>
            </div>
          </div>
        </div>
      </footer>
      <div id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' class='modal fade'>
        <div role='document' class='modal-dialog'>
          <div class='modal-content'>
            <div class='modal-header'>
              <button type='button' data-dismiss='modal' aria-label='Close' class='close'><span aria-hidden='true'>×</span></button>
              <h4 id='myModalLabel' class='modal-title  txt'>Join Us Now</h4>
            </div>
            <div class='modal-body'>
              <div class='modal-custom'>
                <div class='modal-custom_item'>
                  <figure class='modal-custom_figure'><img src='/gentemplate/images/download.png' alt='download' width='200' class='img-responsive  img'></figure>
                </div>
                <div class='modal-custom_item'>
                  <form id='' method='' action='' class='joinus_form'>
                    <div class='el-sortable'>
                      <div class='' style='position: relative;'> 
      
    
                        <input type='text' placeholder='Enter your email address' class='joinus_field'>
                      </div>
                      <div class='' style='position: relative;'> 
      
    
                        <button type='submit' class='joinus_btn  btn'>Get Started Now</button>
                      </div>
                    </div>
                  </form>
                  <p class='privacy  txt'>Vunt in culpa qui officia deserunt mollit anim id est</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
	