
	    <main id='main'>
    <link rel='stylesheet' href='/gentemplate/css/tmpl3.css'>
      <header style='position: relative;' class='t-header   section'> 
  
  

        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h1 class='logo  txt'><span>Lorem ipsum dolor sit amet consectetur</span><span style='color:#000'>Truly Nolen </span><br>Excepteur <span style='color:#1e9ae0'>Tulpa qui officia.</span></h1>
            </div>
          </div>
        </div>
      </header>
      <section class='hero   section' style='position: relative;'> 
  
  

        <div class='container'>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-6 col-md-7 ' style='position: relative;'> 
  

              <div class='hero_video gen-video widescreen  video'>
                <iframe src='http://player.vimeo.com/video/76995404?autoplay=0&amp;title=0&amp;badge=1' width='500' height='281' frameborder='0' webkitallowfullscreen='' mozallowfullscreen='' allowfullscreen=''></iframe>
              </div>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-5 ' style='position: relative;'> 
  

              <h3 class='title  txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
              <div class='form'>
                <form id='' method='' action=''>
                  <ul>
                    <li>
                      <input type='text' placeholder='Nombre' class='form_field'>
                    </li>
                    <li>
                      <input type='text' placeholder='Teléfono' class='form_field'>
                    </li>
                    <li>
                      <input type='text' placeholder='Correo Electrónico' class='form_field'>
                    </li>
                    <li><a href='#' class=' btn count-view'>Duis aute irure dolor in</a></li>
                  </ul>
                </form>
                <p class='privacy  txt'>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-6 col-md-7'>
              <div class='text-center'><a href='#' target='_top' class='mailto  txt'>servicio@trulynolen.com.sv</a></div>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-5'>
              <div class='text-center'>
                <p class=' txt'>2239-7000</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class='block  testimonials  section' style='position: relative;'> 
  
  

        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <div class='text-center'>
                <h4 class='title-lines  txt'><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></h4>
              </div>
            </div>
          </div>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-6 col-md-3 ' style='position: relative;'> 
  

              <blockquote class='testimonial'>
                <div class='testimonial_mssg'>
                  <p class=' txt'><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</i></p>
                </div>
                <div class='text-center'>
                  <div class='testimonial_img'><img src='/gentemplate/images/templates/03/t-01.jpg' alt='' class='img-circle  img'></div>
                  <cite><strong class='testimonial_name  txt'>Sarah Jackson</strong><a href='#' class='testimonial_company  txt'>Company Inc.</a></cite>
                </div>
              </blockquote>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-3 ' style='position: relative;'> 
  

              <blockquote class='testimonial'>
                <div class='testimonial_mssg'>
                  <p class=' txt'><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</i></p>
                </div>
                <div class='text-center'>
                  <div class='testimonial_img'><img src='/gentemplate/images/templates/03/t-02.jpg' alt='' class='img-circle  img'></div>
                  <cite><strong class='testimonial_name  txt'>Sarah Jackson</strong><a href='#' class='testimonial_company  txt'>Company Inc.</a></cite>
                </div>
              </blockquote>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-3 ' style='position: relative;'> 
  

              <blockquote class='testimonial'>
                <div class='testimonial_mssg'>
                  <p class=' txt'><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</i></p>
                </div>
                <div class='text-center'>
                  <div class='testimonial_img'><img src='/gentemplate/images/templates/03/t-03.jpg' alt='' class='img-circle  img'></div>
                  <cite><strong class='testimonial_name  txt'>Sarah Jackson</strong><a href='#' class='testimonial_company  txt'>Company Inc.</a></cite>
                </div>
              </blockquote>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-3 ' style='position: relative;'> 
  

              <blockquote class='testimonial'>
                <div class='testimonial_mssg'>
                  <p class=' txt'><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</i></p>
                </div>
                <div class='text-center'>
                  <div class='testimonial_img'><img src='/gentemplate/images/templates/03/t-04.jpg' alt='' class='img-circle  img'></div>
                  <cite><strong class='testimonial_name  txt'>Sarah Jackson</strong><a href='#' class='testimonial_company  txt'>Company Inc.</a></cite>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </section>
      <section class='block   section' style='position: relative;'> 
  
  

        <div class='container'>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h3 class='title-lines  txt'><i><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</span></i></h3><img src='/gentemplate/images/templates/03/brands.png' alt='Brands' class='img-responsive elem-center  img'>
            </div>
          </div>
        </div>
      </section>
      <section class='callus block   section' style='position: relative;'> 
  
  

        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h3 class='title-lines dark  txt'><i><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></i></h3>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-7 col-md-7'>
              <div class='text-center'><a href='mailto:' target='_top' class='mailto  txt'>servicio@trulynolen.com.sv</a></div>
            </div>
            <div class='col-xs-12 col-sm-5 col-md-5'>
              <div class='text-center'><span class='telephone  txt'>2239-7000</span></div>
            </div>
          </div>
        </div>
      </section>
      <section class='block  weare  section' style='position: relative;'> 
  
  

        <div class='container'>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h3 class='title-lines  txt'><span> Lorem ipsum dolor sit</span></h3>
              <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo</p><img src='/gentemplate/images/templates/03/mapamundi.jpg' alt='Mapamundi' class='map img-responsive elem-center  img'>
              <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
              <div>
                <figure class='img-left'><img src='/gentemplate/images/templates/03/founder.jpg' alt='Founder' width='121' height='128' class=' img'></figure>
                <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class='services block   section' style='position: relative;'> 
  
  

        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h3 class='title-lines  txt'><i><span>Lorem ipsum dolor sit amet magna</span></i></h3>
            </div>
          </div>
          <div class='row el-sortable'>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
  

              <div class='service'>
                <figure style='background-image: url('/gentemplate/images/templates/03/01.png')' class='fig elem-center  bg'></figure>
                <h4 class=' txt'>Duis aute irure dolor in reprehenderit in</h4>
                <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
              </div>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
  

              <div class='service'>
                <figure style='background-image: url('/gentemplate/images/templates/03/02.png')' class='fig elem-center  bg'></figure>
                <h4 class=' txt'>Duis aute irure dolor in reprehenderit in</h4>
                <p class=' txt'>Los productos que utilizamos son de última generación, sin olor y están diseñados para afectar específicamente la biología de los insectos lo cual los hace extremadamente seguros para los seres humanos.</p>
              </div>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
  

              <div class='service'>
                <figure style='background-image: url('/gentemplate/images/templates/03/03.png')' class='fig elem-center  bg'></figure>
                <h4 class=' txt'>Duis aute irure dolor in reprehenderit in</h4>
                <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
              </div>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
  

              <div class='service'>
                <figure style='background-image: url('/gentemplate/images/templates/03/04.png')' class='fig elem-center  bg'></figure>
                <h4 class=' txt'>Duis aute irure dolor in reprehenderit in</h4>
                <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
              </div>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
  

              <div class='service'>
                <figure style='background-image: url('/gentemplate/images/templates/03/05.png')' class='fig elem-center  bg'></figure>
                <h4 class=' txt'>Duis aute irure dolor in reprehenderit in</h4>
                <p class=' txt'>Los productos que utilizamos son de última generación, sin olor y están diseñados para afectar específicamente la biología de los insectos lo cual los hace extremadamente seguros para los seres humanos.</p>
              </div>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 ' style='position: relative;'> 
  

              <div class='service'>
                <figur style='background-image: url('/gentemplate/images/templates/03/06.png')' class='fig elem-center  bg'></figur>
                <h4 class=' txt'>Duis aute irure dolor in reprehenderit in</h4>
                <p class=' txt'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class='callus block   section' style='position: relative;'> 
  
  

        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h3 class='title-lines dark  txt'><i><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></i></h3>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-7 col-md-7'>
              <div class='text-center'><a href='mailto:' target='_top' class='mailto  txt'>servicio@trulynolen.com.sv</a></div>
            </div>
            <div class='col-xs-12 col-sm-5 col-md-5'>
              <div class='text-center'><span class='telephone  txt'>2239-7000</span></div>
            </div>
          </div>
        </div>
      </section>
      <footer class='footer   section' style='position: relative;'> 
  
  

        <div class='container'>
          <div class='row'>
            <div class='col-xs-12 col-sm-4 col-md-4'>
              <p class=' txt'>Copyright 2015 - Lorem ipsum dolor sit</p>
            </div>
          </div>
        </div>
      </footer>
      <div id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' class='modal fade'>
        <div role='document' class='modal-dialog'>
          <div class='modal-content'>
            <div class='modal-header'>
              <button type='button' data-dismiss='modal' aria-label='Close' class='close'><span aria-hidden='true'>×</span></button>
              <h4 id='myModalLabel' class='modal-title  txt'>Llamanos o llena el formulario de abajo para programar una inspección gratis</h4>
            </div>
            <div class='modal-body'>
              <div class='modal-custom'>
                <div class='modal-custom_item'>
                  <figure class='modal-custom_figure'><img src='/gentemplate/images/download.png' alt='download' widht='100' class='img-responsive  img'></figure>
                </div>
                <div class='modal-custom_item'>
                  <div class='form light'>
                    <form id='' method='' action=''>
                      <ul class='el-sortable'>
                        <li class='' style='position: relative;'> 
  

                          <input type='text' placeholder='Nombre' class='form_field'>
                        </li>
                        <li class='' style='position: relative;'> 
  

                          <input type='text' placeholder='Teléfono' class='form_field'>
                        </li>
                        <li class='' style='position: relative;'> 
  

                          <input type='text' placeholder='Correo Electrónico' class='form_field'>
                        </li>
                        <li class='' style='position: relative;'> 
  

                          <button type='button' class='btn  btn'>Quiero Una Inspeccion Gratis</button>
                        </li>
                      </ul>
                    </form>
                    <p class='privacy  txt'>Valoramos tu privacidad por lo que nunca compartiremos con nadie tu informacion</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

	