
	    <main class="main">
    <link rel="stylesheet" href="/gentemplate/css/tmpl4.css">
      <div class="bg-page editable bgpage" style="position: relative;"> 
      
    
        <div class="page">
          <div id="main" class="container">
            <header class="t-header block-movable editable section" style="position: relative;"> 
      
      
    
              <div class="row el-sortable">
                <div class="col-xs-12 col-sm-6 col-md-6 el-movable" style="position: relative;"> 
      
    <a href="#" title="Logo" class="logo"><img src="/gentemplate/images/templates/04/logo.png" alt="Logo" class="editable img"></a></div>
                <div class="col-xs-12 col-sm-6 col-md-6 el-movable" style="position: relative;"> 
      
    
                  <h2 class="editable txt">Lorem ipsum dolor!</h2>
                </div>
              </div>
            </header>
            <section class="l-title box block-movable editable section" style="position: relative;"> 
      
      
    
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <h2 class="editable txt">Lorem ipsum dolor!</h2>
                  <h3 class="editable txt">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
                </div>
              </div>
            </section>
            <section class="box block-movable editable section" style="position: relative;"> 
      
      
    
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="l-video videoWrapper editable video">
                    <iframe src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&amp;hd=1" frameborder="0" allowfullscreen="" width="560" height="349"></iframe>
                  </div>
                </div>
              </div>
            </section>
            <section class="l-countdown box block-movable editable section" style="position: relative;"> 
      
      
    
              <div class="row el-sortable">
                <div class="col-xs-12 col-sm-5 col-md-5 el-movable" style="position: relative;"> 
      
    
                  <h3 class="countdown_label editable txt">Launching in...</h3>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 el-movable" style="position: relative;"> 
      
    
                  <div id="gtime" data-countdown="2015-08-22" class="countdown editable">
              <div class="time days flip"><span class="count curr top">00</span><span class="count next top">12</span><span class="count next bottom">12</span><span class="count curr bottom">00</span><span class="label">days</span></div>
            
              <div class="time hours flip"><span class="count curr top">00</span><span class="count next top">12</span><span class="count next bottom">12</span><span class="count curr bottom">00</span><span class="label">hours</span></div>
            
              <div class="time minutes flip"><span class="count curr top">04</span><span class="count next top">03</span><span class="count next bottom">03</span><span class="count curr bottom">04</span><span class="label">min</span></div>
            
              <div class="time seconds flip"><span class="count curr top">17</span><span class="count next top">16</span><span class="count next bottom">16</span><span class="count curr bottom">17</span><span class="label">sec</span></div>
            </div>
                </div>
              </div>
            </section>
            <script type="text/template" id="tmp-countdown">
              <div class="time <%=label%>"><span class="count curr top"><%= curr %></span><span class="count next top"><%= next %></span><span class="count next bottom"><%= next %></span><span class="count curr bottom"><%= curr %></span><span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span></div>
            </script>
            <section class="l-alert box block-movable editable section" style="position: relative;"> 
      
      
    
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="#" class="btn-alert editable btn count-view">Click Here lorem ipsum dolor sit amet »</a></div>
              </div>
            </section>
            <footer class="t-footer block-movable editable section" style="position: relative;"> 
      
      
    
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <p class="editable txt">Web ❤ your privacy.</p>
                  <p class="editable txt">© 2015 | Legal Information</p>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              <h4 id="myModalLabel" class="modal-title editable txt">Llamanos o llena el formulario de abajo para programar una inspección gratis</h4>
            </div>
            <div class="modal-body">
              <div class="modal-custom">
                <div class="modal-custom_item">
                  <figure class="modal-custom_figure"><img src="/gentemplate/images/download.png" alt="download" widht="100" class="img-responsive editable img"></figure>
                </div>
                <div class="modal-custom_item">
                  <div class="form light">
                    <form id="" method="" action="">
                      <div class="el-sortable">
                        <div class="el-movable" style="position: relative;"> 
      
    
                          <input type="text" placeholder="Nombre" class="form_field">
                        </div>
                        <div class="el-movable" style="position: relative;"> 
      
    
                          <input type="text" placeholder="Teléfono" class="form_field">
                        </div>
                        <div class="el-movable" style="position: relative;"> 
      
    
                          <input type="text" placeholder="Correo Electrónico" class="form_field">
                        </div>
                        <div class="el-movable" style="position: relative;"> 
      
    
                          <button type="button" style="font-size:17px; padding:15px 0; margin:10px 0 " class="btn editable btn btn-addcar">Quiero Una Inspeccion Gratis</button>
                        </div>
                      </div>
                    </form>
                    <p class="privacy editable txt">Valoramos tu privacidad por lo que nunca compartiremos con nadie tu informacion</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</main>
	