
	    <main id="main">
      <link rel="stylesheet" href="/gentemplate/css/tmpl6.css">
      <header class="t-header block-movable editable section" style="position: relative;"> 
      
      
    
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <h1 class="logo text-center"><a href="#"><img src="/gentemplate/images/templates/06/logo.png" alt="Logo" class="img editable img"></a></h1>
            </div>
          </div>
        </div>
      </header>
      <section class="l-hero block-movable editable section" style="position: relative;"> 
      
      
    
        <div class="container">
          <div class="row el-sortable">
            <div class="col-xs-12 col-sm-4 col-md-4 el-movable" style="position: relative;"> 
      
    
              <figure><img src="/gentemplate/images/templates/06/der.png" alt="" class="editable img"></figure>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 el-movable" style="position: relative;"> 
      
    
              <h2 class="title editable txt"><span style="">
                  FREE: 
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</span></h2>
              <p class="editable txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit<b>Lorem ipsum dolor sit amet elit</b>Lorem ipsum dolor sit amet, consectetur adipisicing</p><a href="#" class="btn-access editable btn">Free Instant Access »</a><a href="#" class="link-blue editable txt">Lorem ipsum dolor sit amet!</a><a href="#" class="link-gray editable txt">No thanks, Lorem ipsum dolor sit amet, consectetur adipisicing elit...</a>
            </div>
          </div>
        </div>
      </section>
      <section class="l-some block block-movable editable section" style="position: relative;"> 
      
      
    
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="box">
                <h2 class="title editable txt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                <h3 class="subtitle editable txt">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
                <div class="content">
                  <figure class="image"><img src="/gentemplate/images/templates/06/izq.jpg" alt="" class="editable img"></figure>
                  <p class="editable txt">Lorem ipsum dolor sit amet, consectetur.</p>
                  <p class="editable txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae officiis eius, hic repellendus. Autem provident placeat at iure nostrum debitis repellendus eaque voluptatem, labore. Veritatis quas ratione amet, vel similique quaerat nam libero impedit eius!</p>
                  <p class="editable txt">Lorem ipsum dolor sit amet.</p>
                  <p class="editable txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid adipisci quas suscipit placeat, fuga assumenda consequuntur deserunt pariatur aperiam, atque voluptatibus non quod quasi facilis odio accusantium neque animi repellat, tempore reprehenderit, voluptas. Numquam et vel praesentium provident consequatur ad earum adipisci eum perspiciatis ex tempore, magni quo laudantium corporis repellendus mollitia iure accusantium corrupti magnam esse modi! Sed perspiciatis, vel necessitatibus deserunt, aliquam adipisci dolorum ducimus consectetur suscipit, tempora ad culpa! Beatae eaque, corporis modi est harum, iste iure mollitia assumenda non obcaecati qui reiciendis!</p>
                  <p class="editable txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem fugit eos sunt dicta earum necessitatibus adipisci reiciendis iure error, explicabo, cumque alias accusamus. Fugit ratione, nesciunt consequuntur voluptatem quisquam eum minus autem earum, ipsa laboriosam numquam rerum! Adipisci ipsam ullam fugiat magni fuga?</p>
                  <p class="editable txt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, non dolore voluptates ipsam eum facilis facere explicabo blanditiis a inventore quasi magni, nisi expedita quo mollitia suscipit! Labore aspernatur, doloremque dolore.</p>
                  <div class="box-child">
                    <div class="row">
                      <div class="col-xs-12 col-sm-5 col-md-5">
                        <div class="guide">
                          <figure class="guide_img"><img src="/gentemplate/images/templates/06/guide.png" alt="" class="editable img"></figure>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-7 col-md-7">
                        <div class="box-child_content">
                          <h3 class="editable txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quasi voluptatem explicabo, pariatur est.</h3>
                          <p class="editable txt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span> Lorem ipsum dolor sit amet, consectetur.</span></p><a href="#" class="btn-access editable btn">Free Instant Access »</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="t-footer block-movable editable section" style="position: relative;"> 
      
      
    
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <p class="editable txt">© 2015 | Legal Information</p>
            </div>
          </div>
        </div>
      </footer>
      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              <h4 id="myModalLabel" class="modal-title editable txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod</h4>
            </div>
            <div class="modal-body">
              <div class="modal-custom">
                <div class="modal-custom_item">
                  <figure class="modal-custom_figure"><img src="../images/download.png" alt="download" widht="100" class="img-responsive editable img"></figure>
                </div>
                <div class="modal-custom_item">
                  <div class="form light">
                    <form id="" method="" action="">
                      <div class="el-sortable">
                        <div class="el-movable" style="position: relative;"> 
      
    
                          <input type="text" placeholder="Nombre" class="form_field">
                        </div>
                        <div class="el-movable" style="position: relative;"> 
      
    
                          <input type="text" placeholder="Teléfono" class="form_field">
                        </div>
                        <div class="el-movable" style="position: relative;"> 
      
    
                          <input type="text" placeholder="Correo Electrónico" class="form_field">
                        </div>
                        <div class="el-movable" style="position: relative;"> 
      
    
                          <button type="button" style="font-size:17px; padding:15px 0; margin:10px 0; width:100%" class="btn editable btn btn-access count-view">Click here now</button>
                        </div>
                      </div>
                    </form>
                    <p class="privacy editable txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, maiores.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
	